{% extends '::base.html.twig' %}
{% block title %}Login {% endblock %}

{% form_theme form _self %}

{% block field_row %}
    <div class="field">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block logout %}
<a href={{ path('ull_image_tags_logout') }}>Logout</a>	
{% endblock %}

{% block masterheadtitle %}
Start tagging the images<br/>

{% endblock %}

{% block body %}
<form action="{{ path('ull_image_tags_taggingpage') }}" method="post" class="form label-inline uniform">
	<div class="x4">
	
	</div><br/>
	<div class="x6">
		<h3>Welcome {{ user.email }}!</h3>
		<h4>Total images tagged by you: {{ count }}</h4>
		<h4>Your score: {{ score }}</h4>
		<br/>
		{% if location %}
			<img src="{{ location }}" alt="image" height="200" width="200" align="middle">
		{% endif %}
		<br/><br/>
		{{ form_errors(form.tags) }}
        {{ form_row(form.tags) }}
		
		<br />
		<button class="btn">Submit</button>
		{% if form.imageId %}
        	{{ form_row(form.imageId) }}
        {% endif %}
        
		{{ form_rest(form) }}
	</div>	
	<div class="x2">
	</div>
	
	
	
</form>
{% endblock %}	
