{% extends '::base.html.twig' %}
{% block title %}Login {% endblock %}

{% form_theme form _self %}

{% block field_row %}
    <div class="field">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}


{% block masterheadtitle %}
Start your search
{% endblock %}

{% block body %}
<div class="x12">
<form action="{{ path('ull_image_tags_search') }}" method="post" class="form label-inline uniform">
		{{ form_errors(form) }}
        {{ form_row(form.query) }}
		{{ form_rest(form) }}
		<br/>	
		<button class="btn">Submit</button>
</form>
</div>
<div class="x12">		
		{% for location in locations %}
			<img src="{{ location }}" alt="image" height="200" width="200" align="middle">
		{% endfor %}
</div>		
{% endblock %}	
