{% extends '::base.html.twig' %}
{% block title %}Login {% endblock %}

{% form_theme form _self %}

{% block field_row %}
    <div class="field">
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block logout %}
<a href={{ path('ull_image_tags_logout') }}>Logout</a>	
{% endblock %}


{% block masterheadtitle %}
Upload Image Location
{% endblock %}

{% block body %}
<form action="{{ path('ull_image_tags_uploadpage') }}" method="post" class="form label-inline uniform">
		<div id="infoMessage">
			{{ form_errors(form) }}
		</div>
	        {{ form_row(form.folderLocation) }}
			{{ form_rest(form) }}
		<br />
		<div class="buttonrow">
			<button class="btn">Submit</button>
		</div>
</form>
{% endblock %}	
